body
{
    height: 100%;
    overflow-x: hidden;
    margin: 0px;
    background-color: rgb(192, 31, 192);
    transition: background-color 3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

body.highlighted
{
    background-color: cornflowerblue;
}

a:link, a:visited, a:hover, a:active
{
    text-decoration: none;
    color: inherit;
}

/* CSS-Grid */

#container
{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1800px 1fr;
    grid-template-rows: 50px auto auto auto auto 150px auto;
}

#titlegrid
{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 168px 1fr;
    grid-template-rows: 185px;
    border-bottom: 2px solid black;
}

#infogrid
{
    display: grid;
    margin: 20px 50px 10px;
    padding: 30px 0px 50px;
    place-items: center;
    grid-template-columns: 2fr 4fr 4fr 4fr 2fr;
    grid-template-rows: auto auto;
    background-color: rgb(9, 174, 228);
    border-radius: 10px;
}

#extrasgrid
{
    text-align: center;
    display: grid;
    margin-top: 20px;
    border-bottom: 2px solid black;
    padding: 20px 20px 40px;
    grid-template-columns: 2fr 1fr 3fr 1fr 2fr;
    grid-template-rows: auto auto;
}

#buttongrid
{
    display: grid;
    margin: 50px 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

/* Menu */

#menubar
{
    background-color: rgb(0, 191, 255);
    width: 100%;
    height: 75px;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
}

.menuitem
{
    font-weight: bold;
    text-align: left;
    font-size: 20px;
}

/* General */

.table100
{
    width: 100%;
}

.tdwidth
{
    width: 25%;
    border-bottom: 2px solid black;
}

.button
{
    height: 50px;
    width: 175px;
    background-color: rgb(0, 191, 255);
    box-shadow: 5px 5px 15px black;
    border-radius: 5px;
    font-size: 18px;
    color: black;
    text-align: center;
    place-self: center;
    place-content: center;
}

/* Info */

.titletext
{
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family: arial;
}

#infodiv
{
    width: 100%;
    margin-top: 20px;
}

.info
{
    width: 100%;
    background-color: rgb(0, 191, 255);
    border-radius: 10px;
}

#infocontainer
{
    width: 100%;
    height: auto;
    margin-top: 50px;
}

/* Level List Start */

#levellist
{
    background-color: whitesmoke;
    border-radius: 10px;
    width: 100%;
    height: 1000px;
    overflow: auto;
    margin-bottom: 50px;
}

#innerlevellist
{
    width: 100%;
    height: 100%;
    white-space: nowrap;
}

.levelitem
{
    cursor: pointer;
    font-size: 21px;
    padding-top: 20px;
    padding-left: 30px;
}

#levelinfo
{
    height: 1000px;
    width: calc(100% - 30px);
    background-color: rgb(0, 64, 255);
    border-radius: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;
    text-align: center;
}

#levelName
{
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

#videoPlayer
{
    height: 350px;
    width: 100% - 40px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

/* Level List Stop */

img
{
    max-width: 100%;
    height: auto;
}

#logo
{
    width: 168px;
    height: 168px;
}

#geodelogo
{
    width: 55px;
    height: 55px;
}

#discordlogo
{
    width: 71px;
    height: 55px;
}

#footer
{
    display: grid;
    place-items: center;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 3fr auto;
    background-color: darkblue;
    border-top: 3px solid black;
}

.footercell
{
    color: white;
    text-align: center;
    align-content: center;
    padding: 5px;
    width: 95%;
}


/* Miscellaneous */

.blackline
{
    width: 100%;
    border: 1px solid black;
}

.deadspace
{
    height: 50px;
}

.footerdeadspace
{
    background-color: darkblue;
    border-top: 3px solid black;
}

.footertopborder
{
    width: 95%;
    border-top: 2px solid black;
}

.vdeadspace
{
    width: 200px;
}

.bluedeadspace
{
    background-color: darkblue;
    width: 100%;
    height: 100%;
}

/* Media Logic */

@media (max-width: 1800px)
{
    #container
    {
        grid-template-columns: 1fr 1500px 1fr;
    }
}

@media (max-width: 1500px)
{
    #container
    {
        grid-template-columns: 1fr 1000px 1fr;
    }
}

@media (max-width: 1000px)
{
    #container
    {
        grid-template-columns: 1fr 700px 1fr;
        grid-template-rows: 30px auto auto auto auto 150px auto;
    }

    #logo
    {
        width: 120px;
        height: 120px;
    }

    .titletext
    {
        font-size: 26px;
    }

    .footercell
    {
        font-size: 14px;
    }

    #geodelogo
    {
        width: 38px;
        height: 38px;
    }

    #discordlogo
    {
        width: 49px;
        height: 38px;
    }

    .button
    {
        height: 45px;
        width: 100px;
        font-size: 16px;
    }
}

@media (max-width: 700px)
{
    #container
    {
        grid-template-columns: 1fr 550px 1fr;
        grid-template-rows: 30px auto auto auto auto 170px auto;
    }

    .titletext
    {
        font-size: 24px;
    }

    .footercell
    {
        font-size: 11.5px;
    }

    .button
    {
        height: 40px;
        width: 100px;
        font-size: 14px;
    }
}

@media (max-width: 550px)
{
    #container
    {
        grid-template-columns: 1fr 350px 1fr;
    }

    #logo
    {
        width: 90px;
        height: 90px;
    }

    .titletext
    {
        font-size: 16px;
    }

    .footercell
    {
        font-size: 10px;
    }

    #infogrid
    {
        margin: 20px 25px 10px;
    }

    #geodelogo
    {
        width: 31px;
        height: 31px;
    }

    #discordlogo
    {
        width: 40px;
        height: 31px;
    }

    .button
    {
        height: 30px;
        width: 60px;
        font-size: 10px;
    }
}