body
{
    overflow-x: hidden;
    padding: 30px;
    background-color: rgb(192, 31, 192);
    transition: background-color 3s ease;
    font-family: Arial, Helvetica, sans-serif;
}

body.highlighted
{
    background-color: cornflowerblue;
}

a:link, a:visited, a:hover, a:active
{
    text-decoration: none;
    color: inherit;
}

.table100
{
    width: 100%;
}

.tdwidth
{
    width: 50%;
}

.titletext
{
    width: 40%;
    text-align: center;
    vertical-align: middle;
    font-size: 32px;
    font-weight: bold;
    font-family: arial;
}

.button
{
    width: 50%;
    height: 50px;
    background-color: rgb(0, 191, 255);
    border-radius: 5px;
    border-color: aqua;
    font-size: 18px;
    color: black;
    text-align: center;
    vertical-align: middle;
}

#infodiv
{
    width: 100%;
    margin-top: 20px;
}

.info
{
    width: 100%;
    background-color: rgb(0, 191, 255);
    border-radius: 10px;
}

#logo
{
    width: 168px;
    height: 168px;
    text-align: center;
    vertical-align: middle;
}

.blackline
{
    width: 100%;
    border: 1px solid black;
}

.deadspace
{
    height: 50px;
}

#footer
{
    height: 20%;
    background-color: darkblue;
    width: 100vw;
    position: relative;
    border-top: 3px solid black;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    margin-bottom: -500vw;
}

#innerFooter
{
    width: 100%;
    height: 100%;
    color: white;
    padding: 10px;
    text-align: center;
}

#menubar
{
    background-color: purple;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

#menucontainer
{
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}