body
{
    background-color: purple;
}

#infodiv
{
    width: 100%;
    height: 500px;
    margin-top: 20px;
}

#info
{
    width: 100%;
    background-color: rgb(0, 191, 255);
    border-radius: 10px;
}

#lefttext
{
    width: 50%;
    padding-left: 10px;
    text-align: center;
}

#righttext
{
    width: 50%;
    padding-right: 10px;
    text-align: center;
}

#logo
{
    width: 100%;
    height: 336px;
    margin-bottom: 10px;
    text-align: center;
    vertical-align: middle;
}

.blackline
{
    width: 100%;
    height: 1px;
    background-color: black;
}

.deadspace
{
    height: 50px;
}

#menubar
{
    background-color: purple;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

#menucontainer
{
    width: 100%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}